doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title ShareBay
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
        link(rel='stylesheet', href='style.css')
    body
        div(class='container-fluid')
            section(class='main-heading row align-items-end')
                h1(class='col-12') ShareBay
            section(class='main-input-block row align-items-center justify-content-center')
                div(class='col')
                    div(class='row justify-content-center')
                        h2(class='col-12') Shorten, validate and generate QR-code for your Link!

                        div(class='col-12 row align-items-center justify-content-center mt-5')
                            div(class='col-0 col-lg-2 col-xl-3')
                            div(class='col-12 col-lg-6 col-xl-4 col-md-8')
                                input(aria-label='URL', type='url', id='url')
                            div(class='col-12 col-md-4 col-lg-2 mt-4 mt-md-auto')
                                button(class='btn btn-warning mx-auto', type='button', id='submit') Run
                            div(class='col-0 col-lg-2 col-xl-3')
            div(id='short-link-block', style='display: none')
                h4(class='mt-5') Here is your Link:
                h4(id='short-link', class='mt-4')
            div(id='qr-code-block', style='display: none', class='mt-4')
                h4 Here is your QR-code:
                img(id='qr-code', alt='QR code', class='mt-4')

            script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
            script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
            script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous')
            script(src='script.js')