.main-input-block {
    margin-top: -2px;
    height: 500px;
    color: #FFF;
    background-color: #7e28bf;
}

.main-heading {
    background-color: #7e28bf;
    color: #DFAB0F;
    text-align: center;
    height: 100px;
}

.main-heading h1{
    font-size: 4em;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 2.3em;
}

.btn-warning {
    background-color: #DFAB0F;
    font-size: 2em;
    display: block;
}

#url {
    font-size: 2em;
    width: inherit;
}

#short-link {
    color: #7e28bf;
    font-weight: bolder;
}

#short-link-block h4 {
    font-size: 2em;
}

#short-link-block {
    text-align: center;
    margin-top: 80px;
}

#qr-code-block {
    text-align: center;
}

#qr-code-block h4 {
    font-size: 2em;
}

@media screen and (min-width: 767.98px) {
    .main-input-block {
        height: 400px;
    }

    #url {
        height: inherit;
    }
}

@media screen and (min-width: 991.98px) {
    .btn-warning {
        width: 55%;
    }

    #url {
        margin-left: 15px;
        font-size: 1.6em;
    }
}